.goldman-regular {
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.goldman-bold {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
    background-color: black;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

.nav-title {
    display: flex;
    font-size: 20px;
}

.login {
    padding: 15px 15px;
    background-color: rgb(211, 211, 211);
    border-radius: 340%;
    border: 1px solid black;
}

.login:hover {
    border: 1px solid rgb(27, 27, 27);
    background-color: rgb(158, 158, 158);
}

.mainfeed-posts {
    margin-bottom: 15px;
}

.grid-box {
    display: grid;
    column-gap: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 15px;
}

.post {
    width: 50%;
    height: 100%;
    margin: auto;
    background-color: white;
    border-radius: 5px;
}

.grid-item1, .grid-item2 {
    width: 100%;
    grid-row: 1;
}

.post-header, .body-icons, .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
}

.navbar {
    background-color: rgb(149, 167, 167);
    margin-bottom: 25px;
}

.image-cont {
    width: 100%;
    height: 360px;
}

.post-text {
    margin: 0px 5px 10px 5px;
    padding: 0;
}

.icons-cont {
    padding: 0;
    font-size: 30px;
    justify-content: space-evenly;
}

.header-title {
    display: flex;
    align-items: center;
}

.header-icon, .title-icon {
    font-size: 40px;
    padding-right: 5px;
}

.body-text > p {
    margin: 0px;
    margin-bottom: 2px;
    padding: 0px 10px 10px 10px;
}

a > span {
    align-content: center;
    padding-right: 5px;
    font-size: 25px;
}